h1{
    font-size: 21px;
    line-height:24px;
    margin: 80px 10% 0px 10%
}
p {
    font-size: 11px;
    line-height: 23px;
    margin: 0px 10%;
}
.intro-text {
    font-size: 12px;
    color: darkgray;
    line-height: 20px;
    margin: 0px 10%
}
h2{
    font-size: 17px;
    line-height: 19px;
    margin: 28px 10% 28px 10%
}
h3 {
    font-size: 15px;
    line-height: 19px;
    margin: 56px 10% 28px 10%
}
h4 {
    font-size: 13px;
    line-height: 17px;
    margin: 52px 10% 28px 10%
}

ol {
    font-size: 11px;
    line-height: 23px;
    margin: 12px 10%
}

.mezdu-zagolovkov {
    font-size: 17px;
    line-height: 19px;
    margin: 28px 10% 0px 10%
}
.mezdu-zagolovkov-2 {
    font-size: 15px;
    line-height: 19px;
    margin: 0px 10% 28px 10%
}
.simple {
    border-left: 3px solid #1e1e1e;
    padding-left: 17px;
}
.pic {
    margin: 90px 10% 90px 10%;
    width: 80%;
}